<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="{{ url_for('static', filename='images/logooFooter.png') }}" />
                </div>
                <div class="chatbox__content--header">
                    
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Ecrire un message...">
                <button class="chatbox__send--footer send__button">Envoyer</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbot icon.png') }}" /></button>
            <div></div>
        </div>
    </div>
</div>
<div>
    <button id="basket" value="basket">Basket</button>
</div>

<script data-script-root="{{ request.script_root }}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>            

